:root {
  /* Surface colors */
  --background-color: #573824;
  --surface-color: #f0e8c2;
  /* Text colors */
  --text-color-primary: #291b1a;
  --text-color-secondary: #573a37;
  --text-color-on-bg: #f0e8c2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  font-family: "Alice", serif;
  color: var(--text-color-secondary);
}

#Page {
  width: 50rem;
  padding: 1.5rem;
  margin: 3rem auto;
  border-radius: 1.5rem;
  background-color: #f0e8c2;

  section + section {
    margin-top: 1.5rem;
  }

  #About p + p {
    margin-top: 0.75rem;
  }
}

main {
  padding: 1.5rem;
}

img {
  border-radius: 1rem;
}

h1 {
  line-height: 140%;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h1,
h2 {
  color: var(--text-color-primary);
  margin-bottom: 0.25rem;
  line-height: 150%;
}

ul {
  padding-left: 1.5rem;
}

footer {
  margin: 1.75rem auto;

  p {
    text-align: center;
    color: var(--text-color-on-bg);

    img {
      vertical-align: middle;
    }

    a {
      text-decoration: none;
      color: var(--text-color-on-bg);
      border-bottom: 0.125rem solid var(--text-color-on-bg);
    }
  }
}
